@font-face {
  font-family: "Poppins";
  src: url("fonts/poppins-v21-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("fonts/poppins-v21-latin-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url("fonts/merriweather-v30-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url("fonts/merriweather-v30-latin-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* !css variables */
:root {
  --clr-text: 234 40% 20%;
  --clr-bkg: 225 100% 98%;
  --clr-card-bkg: 0 0% 100%;
  --clr-drop-shadow: 0 24px 44px hsl(225 43% 79% / .4);
  --clr-border: 234 36% 82%;

  --fw-medium: 500;
  --fw-black: 900;
  --ff-primary: "Poppins", sans-serif;
  --ff-secondary: "Merriweather", serif;
}

/* reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
* {
  margin: 0;
  padding: 0
}

html {
  font-size: 100%;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-block-size: 100dvh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* !sometimes referred to as .sr-only */
.visually-hidden:not(:focus):not(:active):not(:focus-within) {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

*:focus-visible {
  outline: 3px dotted hsl(var(--clr-text));
  outline-offset: 5px;
}

/* !general styles */
body {
  font-family: var(--ff-primary);
  color: hsl(var(--clr-text));
  background-color: hsl(var(--clr-bkg));
}

/* !layout styles */
#root {
  align-content: center;
  min-block-size: inherit;
}

.card__wrapper {
  width: min(100% - 2rem, 65.875rem);
  margin-inline: auto;
}

.grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
}

.grid-center {
  display: grid;
  gap: 2rem;
  place-items: center;
}

.flex {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}


/* !typography */
.title {
  font: var(--fw-black) 2rem/1.1 var(--ff-secondary);
  text-align: center;
  padding-block: 4rem;

  @media (min-width: 62rem) {
    padding-block: 0 4.5rem;
  }
}

/* !card styles */
.card {
  background-color: hsl(var(--clr-card-bkg));
  border-radius: 1rem;
  filter: drop-shadow(var(--clr-drop-shadow));
  padding-block: 3rem;
  padding-inline: 2.5rem;
  transition: translate 300ms ease-in-out;

  @media (min-width: 62rem) {
    height: 251px;
  }

  &:hover,
  &:focus-within {
    translate: 0 -10px;
  }

  .icon {
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    border-radius: 0.875rem;
  }

  .position {
    font: var(--fw-medium) 1.5rem var(--ff-primary);
  }
}

.button {
  text-decoration: none;
  font: var(--fw-medium) 1.125rem var(--ff-primary);
  color: hsl(var(--clr-text));
  border-radius: 0.5rem;
  padding: 1em 1.5em;
  border: 1px solid hsl(var(--clr-border));
  width: 100%;
  text-align: center;
}

.disclaimer {
  margin-block: 3rem;
  text-align: center;
  max-width: 83ch;
  margin-inline: auto;
}

/* !attribution */
.attribution {
  font-size: 0.75rem;
  position: fixed;
  inset: auto auto 1rem 1rem;
  display: none;

  @media (min-width: 62rem) {
    display: block;
  }
}